<% content_for(:javascript_includes) { javascript_include_tag 'voluntary_translation/stories' } %>

<%= simple_form_for(@story, as: :story, url: @story.new_record? ? stories_path : story_path(@story.becomes(Story)), html: {class: 'form-vertical'}) do |f| %>
  <%= render partial: 'shared/form/error_messages', locals: { resource: @story } %>
  
  <%= @story.project ? f.hidden_field(:project_id) : f.input(:project_id, collection: Project.all) %> 
  <%= f.input :name %>  
  <%= f.input :text, as: :text, input_html: {style: 'width:500px; height:100px;'} %>
  <%= f.input :input_language, collection: all_language_options %>
  <%= f.input :output_language_tokens, as: :string, input_html: { data: { load: resource.output_language_tokens } } unless Rails.env == 'test' %>
 
  <div class="form-group">
    <%= f.button :submit %>
  </div>
<% end %>